<button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button> <!--Le añadimos un icono de flecha al botón "volver"-->
<div class="card"> <!--Hacemos que la vista se vea como una "tarjeta"-->
    <div class="card-body">
        <form>
            <!--Mostramos los datos de la reserva que queremos mostrar-->
            <div>
                Recurso o servicio reservado: {{reserva.nombre_rs}}
            </div>
            <div>
                Usuarios: {{reserva.nombre_usuario}}
            </div>
            <div>
                Fecha: {{fecha}}
            </div>
            <div>
                Hora: {{reserva.hora}}
            </div>
        </form>
        <!--Añadimos un botón que nos llevará a la página que nos permite editar los datos de la reserva-->
        <button (click)="editarReserva()"> <i class="fas fa-pencil-alt"></i>
            Editar
        </button>
    </div>
</div>


