<html>

<button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button> <!--Le añadimos un icono de flecha al botón "volver"-->
<div class="centered-container">
<h2>PENDIENTES</h2>
<p *ngIf="vacioPendientes else estanPendientes">
    <!--Si no hay solicitudes pendientes, mostraremos un mensaje indicándolo-->
    No hay solicitudes pendientes
</p>
<ng-template #estanPendientes>
    <div class="centered-container">
        <div *ngFor="let solicitud of pendientes"> <!--Recorremos el vector solicitudes pendientes y las mostraremos una por una-->
            <!--Mostramos el logo de cada empresa-->
            <img [src]="solicitud.logo === '' ? '/assets/img/upload.png' : solicitud.logo" class="card-img-top">
            <div class="card-text-center">
                <!--Mostramos el nombre de la empresa-->
                <strong>{{solicitud.nombre_empresa}}</strong>
                <!--Añadimos el botón "ver" que nos llevará a la página que nos muestra los datos de la solicitud-->
                <button (click)="verSolicitud(solicitud.id_solicitud)"><i class="fas fa-eye"></i>
                    Ver
                </button>
            </div>
        </div>
    </div>
</ng-template>

<div class="side-by-side-container">
    <div class="side-container">
        <h2>ACEPTADAS</h2>
        <p *ngIf="vacioAceptadas else estanAceptadas">
            <!--Si no hay solicitudes aceptadas, mostraremos un mensaje indicándolo-->
            No hay solicitudes aceptadas
        </p>
        <ng-template #estanAceptadas>
            <div *ngFor="let solicitud of aceptadas"> <!--Recorremos el vector solicitudes aceptadas y las mostraremos una por una-->
                <!--Mostramos el logo de cada empresa-->
                <img [src]="solicitud.logo === '' ? '/assets/img/upload.png' : solicitud.logo" class="card-img-top">
                <div class="card-text-center">
                    <!--Mostramos el nombre de la empresa-->
                    <strong>{{solicitud.nombre_empresa}}</strong>
                    <!--Añadimos el botón "ver" que nos llevará a la página que nos muestra los datos de la solicitud-->
                    <button (click)="verSolicitud(solicitud.id_solicitud)"><i class="fas fa-eye"></i>
                        Ver
                    </button>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="side-container">
        <h2>RECHAZADAS</h2>
        <p *ngIf="vacioRechazadas else estanRechazadas">
            <!--Si no hay solicitudes rechazadas, mostraremos un mensaje indicándolo-->
            No hay solicitudes rechazadas
        </p>
        <ng-template #estanRechazadas>
            <div *ngFor="let solicitud of rechazadas"> <!--Recorremos el vector solicitudes rechazadas y las mostraremos una por una-->
                <!--Mostramos el logo de cada empresa-->
                <img [src]="solicitud.logo === '' ? '/assets/img/upload.png' : solicitud.logo" class="card-img-top">
                <div class="card-text-center">
                    <!--Mostramos el nombre de la empresa-->
                    <strong>{{solicitud.nombre_empresa}}</strong>
                    <!--Añadimos el botón "ver" que nos llevará a la página que nos muestra los datos de la solicitud-->
                    <button (click)="verSolicitud(solicitud.id_solicitud)"><i class="fas fa-eye"></i>
                        Ver
                    </button>
                </div>
            </div>
        </ng-template>
    </div>

</div>
</div>
</html>