<!DOCTYPE html>
<html>
<head>
  <title>Iniciar sesión</title>
</head>
<body>
  <h2>Iniciar sesión</h2>
  <form>
    <!--Ponemos dos casilla en donde se indicará que se introduzca el nombre y la contraseña-->
    <input type="text" placeholder="Nombre de usuario" #nombreUsuario required>
    <input type="password" placeholder="Contraseña" #contrasenaUsuario required>
    <!--Añadimos un botón que iniciará sesión si las credenciales son correctas-->
    <button type="submit" (click)="inicioSesion(nombreUsuario.value, contrasenaUsuario.value)">Iniciar sesión</button>
    <!--Añadimos el botón que nos llevará a la página para crear una solicitud de una empresa-->
    <button type="submit" id="solicitud" (click)="irNuevaSolicitud()" style="float: right;">Nueva solicitud</button>
  </form>
</body>
</html>
