
/*Le damos formato a la "tarjeta"*/
.card {
    background-color: white; /*Color de fondo*/
    border-radius: 10px; /*Creamos un racio en los border para crear esquinas redondeadas*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /*Ponemos una sombra alrededor de l "tarjeta"*/
    width: 350px;
    padding: 20px;
   
    /*para posicionarlo en el centro de la pantalla aunque se cambie esta de tamaño*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Le damos formato a los elementos que se encuentran dentro de la "tarjeta"*/
.card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/*Le damos formato a los botones*/
button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 12px;
    width: fit-content;
    align-self: center;
}

/*Usamos hover para cambiar el color de los botones cuando el cursor se pone encima de estos*/
button:hover {
    background-color: #999;
}

/*Le damos formato al botón "volver"*/
.back-button {
    background-color: #ccc; 
    color: black; /*Color del texto del botón*/
    border: none; /*Eliminamos el borde del botón*/
    padding: 5px; /*Agregamos espacio arededor del contenido del botón para que se vea mejor*/
    cursor: pointer; /*Cambiamos el ratón a puntero cuando este pasa por encima*/
    font-weight: normal; /*Establecemos el grosor de las letras del texto*/
    border-radius: 4px; 
    transition: background-color 0.3s ease; /*Agragamos una transición leve para el cambio del color de fondo*/
    font-size: 12px; /*Tamaño de la letra*/
    width: fit-content; /*Ancho del botón*/
    margin-bottom: 10px;

    /*Posición en la esquina derecha del borde superior de la pantalla*/
    position: absolute;
    top: 120px;
    right: 20px;
}

/*Usamos hover para cambiar el color de los botones cuando el cursor se pone encima de estos*/
.back-button:hover {
    background-color: #999;
}

